*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    margin: auto;
    width: 800px;
    height: 800px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
}

.square{
   border: 0.1px solid black;
}

.square:hover{
    background-color: rgb(158, 158, 158);
    cursor: pointer;
}


